FrontMemoire3Tier/Connected Services/ServiceMemoire/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54321/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetierMemoire" />
  <xs:import schemaLocation="http://localhost:54321/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MetierMemoire.Model" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MetierMemoire" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MetierMemoire" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMemoire">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMemoireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MetierMemoire.Model" minOccurs="0" name="GetAllMemoireResult" nillable="true" type="q3:ArrayOfMemoire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemoire">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemoireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MetierMemoire.Model" minOccurs="0" name="GetMemoireResult" nillable="true" type="q4:Memoire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemoire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MetierMemoire.Model" minOccurs="0" name="memo" nillable="true" type="q5:Memoire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemoireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMemoireResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemoireList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MetierMemoire.Model" minOccurs="0" name="memo" nillable="true" type="q6:MemoireModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemoireListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MetierMemoire.Model" minOccurs="0" name="GetMemoireListResult" nillable="true" type="q7:ArrayOfMemoire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMemoire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MetierMemoire.Model" minOccurs="0" name="memo" nillable="true" type="q8:Memoire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMemoireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditMemoireResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMemoire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MetierMemoire.Model" minOccurs="0" name="memo" nillable="true" type="q9:Memoire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMemoireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMemoireResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>