FrontMemoire3Tier/Connected Services/ServiceMemoire/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MetierMemoire.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MetierMemoire.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMemoire">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Memoire" nillable="true" type="tns:Memoire" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemoire" nillable="true" type="tns:ArrayOfMemoire" />
  <xs:complexType name="Memoire">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnneeMemoire" type="xs:int" />
      <xs:element minOccurs="0" name="DescriptionMemoire" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDMemoire" type="xs:int" />
      <xs:element minOccurs="0" name="SujetMemoire" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Memoire" nillable="true" type="tns:Memoire" />
  <xs:complexType name="MemoireModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnneeMemoire" type="xs:int" />
      <xs:element minOccurs="0" name="SujetMemoire" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemoireModel" nillable="true" type="tns:MemoireModel" />
</xs:schema>