FrontMemoire3Tier/Connected Services/ServiceMemoire/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54321/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54321/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54321/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetierMemoire" />
      <xsd:import schemaLocation="http://localhost:54321/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MetierMemoire.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMemoire_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMemoire" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMemoire_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMemoireResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMemoire_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemoire" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMemoire_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemoireResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMemoire_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMemoire" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMemoire_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMemoireResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMemoireList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemoireList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMemoireList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemoireListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditMemoire_InputMessage">
    <wsdl:part name="parameters" element="tns:EditMemoire" />
  </wsdl:message>
  <wsdl:message name="IService1_EditMemoire_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditMemoireResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteMemoire_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMemoire" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteMemoire_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMemoireResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMemoire">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllMemoire" message="tns:IService1_GetAllMemoire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllMemoireResponse" message="tns:IService1_GetAllMemoire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemoire">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMemoire" message="tns:IService1_GetMemoire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMemoireResponse" message="tns:IService1_GetMemoire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMemoire">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddMemoire" message="tns:IService1_AddMemoire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddMemoireResponse" message="tns:IService1_AddMemoire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemoireList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMemoireList" message="tns:IService1_GetMemoireList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMemoireListResponse" message="tns:IService1_GetMemoireList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditMemoire">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditMemoire" message="tns:IService1_EditMemoire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditMemoireResponse" message="tns:IService1_EditMemoire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMemoire">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteMemoire" message="tns:IService1_DeleteMemoire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteMemoireResponse" message="tns:IService1_DeleteMemoire_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMemoire">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllMemoire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemoire">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMemoire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMemoire">
      <soap:operation soapAction="http://tempuri.org/IService1/AddMemoire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemoireList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMemoireList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditMemoire">
      <soap:operation soapAction="http://tempuri.org/IService1/EditMemoire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMemoire">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteMemoire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:54321/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>